form{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height: 90vh;
    width: 90vh;
    font-size: 20px;
}

form input, select{
    width: 300px;
    padding: 10px;
}

.form-container {
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
